.question-card {
    display: none;
}

.finished-quiz {
    display: none;
}

.highscore-page {
    display: none;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}